# --- Database ---
MYWEBAPP_DATABASE_HOST=db
MYWEBAPP_DATABASE_PORT=5432
MYWEBAPP_DATABASE_NAME=mywebapp_database
MYWEBAPP_DATABASE_USER=mywebapp_user
MYWEBAPP_DATABASE_PASSWORD=change-me

# --- Port mappings ---
NGINX_PORT_MAP=8080
APP_PORT_MAP=5200
DB_PORT_MAP=5432